<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css" />
  <link rel="stylesheet" href="/app.css" />
  <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet" />
  <title>Document</title>
</head>

<body>
  <nav class="navbar bg-body-tertiary bg-dark">
    <form class="container-fluid justify-content-start">
      <button class="btn btn-outline bg-primary me-2 mx-2" type="button">
        <i class="fa-solid fa-phone"> 9991423362</i>
      </button>
      <a href="/index/instantquote"><button class="btn btn-outline bg-primary me-2" type="button">
          Instant Quotes
        </button></a>
    </form>
  </nav>
  <nav class="navbar" style="background-color: #6a93af">
    <h1>Ultimate clean pros</h1>
    <a href="#" class="btn btn-sm btn-outline-secondary" role="button">Home</a>
    <a href="#" class="btn btn-sm btn-outline-secondary" role="button">Window Cleaning</a>
    <a href="#" class="btn btn-sm btn-outline-secondary" role="button">Roof Cleaning</a>
    <a href="#" class="btn btn-sm btn-outline-secondary" role="button">House Washing</a>
    <a href="#" class="btn btn-sm btn-outline-secondary" role="button">Gutter Cleaning</a>
    <a href="#" class="btn btn-sm btn-outline-secondary" role="button">Commercial Cleaning</a>
    <a href="#" class="btn btn-sm btn-outline-secondary" role="button">Other Services</a>
    <a href="#" class="btn btn-sm btn-outline-secondary" role="button">Blog</a>
  </nav>
  <div class="container my-5 quote-form-container">


    <div class="head">
      <img style="width: 100px; height: 100px; margin-left: 500px;"
        src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcS56IZhI_D_5NEfIPh9my_Z_EALygnd_Ort6A&s"
        alt="img">
      <h3>Window Cleaning Step #1:
        How many Window You have</h3><br>
    </div>
    <br><br>
    <form action="/index/instantquote/general-info" method="get" class="needs-validation" novalidate>
      <div class="col">
        <input type="text" class="form-control" name="Patiolenght" placeholder="No of windows" required />
        <div class="invalid-feedback">
          Enter Windows please
        </div>
        <br><br>
        <button type="submit" class="btn btn-success">Next</button>
      </div>

      


  </div>

  
  </form>

  </div>

</body>

</html>